.profile__input {
  display: grid;
  margin: 10px 0 0 30px;
  max-width: 336px;
  grid-area: "input";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "name edit-button"
  "about about";
  align-items: baseline;
}

@media screen and (max-width: 700px) {
  .profile__input {
    max-width: 282px;
    margin-top: 26px;
    margin-bottom: 28px;
    display: grid;
    justify-items: center;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "name edit-button"
    "about about";
  }
}