.profile__edit-button {
  padding: 0;
  background: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  border-radius: 2px;
  grid-area: "edit-button";
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}